*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 20px;
    color: #000;
    font-family: 'Source Sans Pro', sans-serif;
}

header{
    height: 50px;
    width: 100%;
    display: inline-block;
    margin: 0 auto;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}



.container{
    width: 100%;
    margin: 0 auto;
    padding: 15px;
}

.clearfix{
    clear: both;
    content: "";
    display: table;
}

/*Logo e navigazione nell'header*/
#logo, .lf-nav{
    float: left;
}

#logo{
    padding-right: 30px;
}

.lf-nav li, .rt-nav li{
    display: inline-block;
    margin: 0 15px
}

.rt-nav, .btn{
    float: right;
}

.btn a, .rt-nav li a, .lf-nav li a{
    text-decoration: none;
    color:#000;
}

.btn a{
    background-color: #0061ff;
    padding: 5px 20px;
    color: #fff; 
}

.rt-nav li a:hover, .lf-nav li a:hover{
    text-decoration: underline;
    background-color: bisque; 
}

/*Sezione con sfondo colorato e button per prova*/
.first-section{
    max-height: 735px;
    padding: 50px 115px;
    margin: 50px 0;
    background-color: #b4d0e7;
}

.first-section h1{
    font-size: 83px;
}

.start-free-trial .btn{
    float: none;
    margin: 15px 0;
    font-size: 25px;
}

.start-free-trial p{
    font-size: 18px;
}

.start-free-trial p:first-of-type{
    margin: 50px 0;
}

.fa-arrow-down{
    font-size: 40px;
    margin-top: 50px;
}

.trial-image img{
    position: relative;
    left: 30%;
    bottom: 385px;
    width: 65%;
}